body {
 
 background-image: linear-gradient(#9e3e39, #9e8d61, #59b9b8);
 background-position: center; 
 background-repeat: no-repeat; 
 background-size: cover;
 background-color: rgb(196, 0, 0);
 padding: 30px;
 margin-left: auto;
 margin-right: auto;
 width: 800px;
 
}

 
.btn {
    background-color: #ff4f57;
    border: none;
    border-radius: 6px;
    color: #ffe4e4;
    padding: 10px 16px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 60%) 0px 5px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 5px -1px;
}

div.item {
	  min-width: 200px;	
    background-color: rgb(148 175 146 / 40%);
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 60%) 0px 5px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 5px -1px;
    border-color: #bb454b;
    width: 45%;
    height: auto;
    float: left;
    margin: 10px;
    padding: 10px;
    position: relative;
    overflow-y: hidden;
    cursor: pointer; 
}

#chessDataContainer div.item {
    background-color: rgb(148 175 146 / 40%);
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 60%) 0px 5px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 5px -1px;
    border-color: #bb454b;
    width: 45%;
    height: auto;
    float: left;
    margin: 10px;
    padding: 10px;
    position: relative;
    overflow-y: hidden;
    cursor: pointer;
}

#bookDataContainer div.item {
	  background-color: rgb(112 247 170 / 25%);
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 60%) 0px 5px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 5px -1px;
    border-color: #bb454b;
    width: 45%;
    height: auto;
    float: left;
    margin: 10px;
    padding: 10px;
    position: relative;
    overflow-y: hidden;
    cursor: pointer;

}

#otherDataContainer {
  display: none;
}

div.item button {
	position: absolute;
	bottom: 10px;
	right: 10px;
   box-shadow: rgb(0 0 0 / 35%) 0px 2px 4px;
   opacity: 85%;
}

div.item button.edit {
	right: 70px;
  bottom: 10px;
  box-shadow: rgb(0 0 0 / 35%) 0px 2px 4px;
  opacity: 85%;
}

span.item {
	line-height: 16px;
	font-size: 14px;
}

span.item b {
	margin-right: 10px;
}

span.undefined {
	color: red;
}


h1 {

 background-image: linear-gradient(#d69473, #c51b2c); 
 text-align: center; 
 font-family: Cambria;
 color: white; 
 font-size: 50pt; 
 border-radius: 13px 13px 45px 45px;
 box-shadow: 15px 20px 40px #5d0913f8, 
            -3px -3px 6px #ffd8ba
    }

#HobbyH2 {
  background-image: linear-gradient(#c09f7a, #af2530); 
  color: white ;
  font-family: cambria;
  background-color: rgb(78 70 51);
  border-radius: 8px;
  text-align: center;
  height: 31px;
  box-shadow: 15px 20px 35px #1e1f16, 
            -3px -3px 6px #ffe3af;
}
#BookH2 {
  background-image: linear-gradient(#859576, #a21f2a); 
  color: white ;
  font-family: cambria;
  background-color: rgb(33 82 79);
  border-radius: 8px;
  text-align: center;
  height: 31px;
  box-shadow: 15px 20px 35px #000000f8, 
            -3px -3px 6px #c4f5dd
            }
#otherData {
 background-image: linear-gradient(#5d9c93, #a21f2a); 
  color: white ;
  font-family: cambria;
  background-color: rgb(33 82 79);
  border-radius: 8px;
  text-align: center;
  height: 31px;
  box-shadow: 15px 20px 35px #000000f8, 
            -3px -3px 6px #c0fcf4
}
input[type=text]{
    border-radius: 10px;
    position: absolute;
    margin: 2px;
    padding: 1px;
    left: 400;
}
#id{
    background-color: #97c397;
    border-radius: 4px;
    text-align: left;
    width: 295px;
    padding: 2px;
    margin: 0px;

}
#id1{
    background-color: #97c397;
    border-radius: 4px;
    text-align: left;
    width: 295px;
    padding: 2px;
    margin: 0px;

}



