body {
 
 background-color:#ffe1be

}
a {
  color:rgb(0, 139, 139);
  font-size: 30px;

}
h1 {
  color: rgb(161, 73, 73);
  font-size: 50px
}
img{
  position:absolute;
  top: 110px;
  left: 630px;
  width:auto;
  height:100px;
}
